/* 
color code : #363958
FF8367
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Bebas Neue", cursive;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #363958;
}
.col-1 {
  width: 8.33%;
  float: left;
}
.col-2 {
  width: 16.66%;
  float: left;
}
.col-3 {
  width: 25%;
  float: left;
}
.col-4 {
  width: 33.33%;
  float: left;
  /* padding: 0px 15px; */
}
.col-5 {
  width: 41.66%;
  float: left;
}
.col-6 {
  width: 50%;
  float: left;
}
.col-7 {
  width: 58.33%;
  float: left;
}
.col-8 {
  width: 66.66%;
  float: left;
}
.col-9 {
  width: 75%;
  float: left;
}
.col-10 {
  width: 83.33%;
  float: left;
}
.col-11 {
  width: 91.66%;
  float: left;
}
.col-12 {
  width: 100%;
  float: left;
}
.container {
  width: 1100px;
  margin: auto;
}
.text-center {
  text-align: center;
}
.row {
  padding: 0px -15px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
p {
  font-family: "Bebas Neue", cursive;
  font-family: "Roboto", sans-serif;
}
[class*="col-"] {
  padding: 0px 15px;
}
/* website start */

/* memu css start */
.header-menu {
  float: right;
  margin: 37px 0px;
}
nav ul li {
  float: left;
  margin-right: 20px;
}
nav ul li a {
  color: #3c3c3c;
  font-size: 16px;
  display: inline-block;
}

/* slider css */
.slider-img img {
  width: 100%;
  margin-top: -60px;
}
.slider-content h1 {
  font-size: 80px;
  color: #363958;
  font-weight: bold;
  margin-top: 100px;
}
span.slider-heading {
  color: #ff8367;
}
.slider-content p {
  font-size: 16px;
  padding-right: 292px;
  line-height: 26px;
  font-weight: 500;
}
a.hire-me {
  background-color: #f96d61;
  color: #fff;
  padding: 10px 50px;
  display: inline-block;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 30px;
}
/* about area */
.about-img img {
  width: 100%;
}
.about-content {
  margin-top: 200px;
}
.about-content h2 {
  color: #363958;
  font-size: 48px;
  font-weight: 500;
}
.about-content p {
  font-size: 16px;
  line-height: 24px;
  color: #3e3e3e;
}
a.download-btn {
  background-color: #f96d61;
  color: #fff;
  padding: 10px 50px;
  display: inline-block;
  border-radius: 10px;
  margin-top: 30px;
  font-size: 30px;
}

/* single project area */
.single-project img {
  width: 100%;
}

/* about section */
.about-area {
  display: inline-block;
  overflow: hidden;
}

/* working project area */
.working-project h1 {
  color: #363958;
  font-size: 48px;
  font-weight: 500;
}

.working-project {
  display: block;
  overflow: hidden;
  background-color: #e5e5e5;
  padding: 130px 0px;
}
.single-project {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-top: 100px;
}
.single-project h4 {
  color: #363958;
  font-size: 24px;
  font-weight: 200;
  padding: 10px 0px;
}
.single-project p {
  color: #6c6c6c;
  font-weight: 500;
  line-height: 28px;
}

/* client area */
.single-client {
  margin-top: 80px;
}
.single-client img {
  width: 100%;
}
.our-client-area {
  overflow: hidden;
  margin: 100px 0px;
}
.single-client h4 {
  font-size: 24px;
  text-align: center;
}
.our-client-area h1 {
  font-size: 48px;
  font-weight: 500;
}
.client-heading {
  color: #f46060;
}
.work-inquiry-area {
  height: 225px;
  width: 900px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 210px;
  padding: 70px 50px;
  margin: auto;
}
.inquiry-left h1 {
  float: left;
  font-size: 64px;
  color: #fff;
  font-weight: 500;
}
.work-inquiry-btn a {
  margin-left: 400px;
  color: #fff;
  background: #fc7762;
  padding: 10px 20px;
  border-radius: 10px;
}
.work-inquiry-btn a {
  margin-left: 400px;
  color: #fff;
  background: #fc7762;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 19px;
}

/* footer area */
.footer {
  margin-top: 100px;
}
.footer h5 {
  font-size: 24px;
  font-weight: 500;
}
.footer h3 {
  font-size: 36px;
  font-weight: 500;
}
.footer-icon ul li a img {
  width: 50px;
}
.footer-icon ul li {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 100px;
}
